.main {
  display: flex;
  justify-content: center;
}

.details {
  width: 80%;
  height: 100vh;
  margin-top: 3%;
}

.button{
  border: none;
  padding: 1rem;
}

.button span{
  margin-left: 10px;
}

.detailSection {
  display: flex;
  justify-content: center;
}

.detailCard {
  display: flex;
  align-items: center;
  margin-top: 5%;
  gap: 60px;
}

.detailImg {
  width: 700px;
}
.detailImg img {
  object-fit: cover;
  width: 100%;
}

.dataDetail{
  display: flex;
}

.data{
  margin: 10% 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.data span{
  display: block;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--dark-effect);
}

.data:nth-child(1){
  margin-right: 10%;
}

@media screen and (max-width: 940px) {
  .detailCard{
    flex-direction: column;
  }

  .detailImg {
    width: 300px;
  }
}